<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/query.css">
        <link rel="stylesheet" href="../static/css/media-query.css">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <button id="login-btn" hidden>Login with Google</button>
        <div class="border">
            <div class="topfixed">
                <div class="topprofile">
                    <div class="pict"><img src="../static/files/Operator.jpeg" alt="my image"></div>
                    <div class="div"><p class="drbright aitop">DR.Bright AI<div class="heart-bit"></div ></p> </div>
                    <button class="files"><ion-icon name="battery-charging-outline"></ion-icon> </button>
                 
                </div>
                <div class="inmiddle">
                    <button id="back-btn"><</button>
                    <button id="current-btn">TODAY</button>
                    <button id="edit-btn">Edit</button>
                </div>
            </div>
            <div class="body-cont-container">
                <div class="homecontent">
                    <div class="footsteps">
                        <div class="steps">10,396<br>steps</div>
                    </div>
        
                    <div class="loaders">
                        <div class="loader">
                            <div class="loadd"></div>
                            1,850<br>cals
                        </div>
                        <div class="loader">
                            <div class="loadd"></div>
                            4.7<br>Miles
                        </div>
                        <div class="loader">
                            <div class="loadd"></div>
                            72<br>Mins
                        </div>
                    </div>
                    <div class="inlineform">
                        <div class="inline">
                        <div class="heart"></div>
                        <p>90bpm <br>76bpm resting heart rate.</p>
                        </div>
                        <div class="inline">
                            <div class="heart"></div>
                            <p>3 of 5hr<br>250+ steps per hour.</p>
                        </div>
                    </div>
        
                    <div class="search_info">
                        <h2>Recommended  search</h2>
                        <input type="search" placeholder="search likes....">
                    </div>
                    
                    <div class="recommended">
                        <div class="holders"><div class="filehold"><img src="../static/files/bmw-m6-white.jpeg" alt=""></div><p>You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p></div>
                        <div class="holders"> <div class="filehold"><img src="../static/files/bmw-m6-red.jpeg" alt=""></div><p>You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p></div>
                        <div class="holders"> <div class="filehold"><img src="../static/files/bmw-m6-blue.jpg" alt=""></div><p>You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p></div>
                        <div class="holders"> <div class="filehold"><img src="../static/files/bmw-m6-grey.jpg" alt=""></div><p>You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p></div>
                        <div class="holders"> <div class="filehold"><img src="../static/files/bmw-m6-headlignt.jpeg" alt=""></div><p>You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p></div>
                        <div class="holders"> <div class="filehold"><img src="../static/files/bmw-m6-interior.jpeg" alt=""></div><p>You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p></div>
                        <div class="holders"><div class="filehold"><img src="../static/files/bmw-m6-black-onroad.jpeg" alt=""></div><p>You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p></div>
                    </div>
                    <button  id="morerec" type="button">more</button>
                </div>
    
                <div class="toberemoved">
                    <div class="thisname">
                        <p><span class="drbright">DR.Bright AI</span>,ask me anything about  your health and symptoms, for health advises and guidelines..</p>
                    </div>
                    <div id="ai_responce" contenteditable="false  " readonly>
                        Heloo DR.Bright,
                    </div>
                </div>
                
                <div class="alsotoberemoved">
                    <p>History</p>
                    <div class="histholder">
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                        <div class="histhold"><div class="histspinner"></div></div>
                    </div>
                  
                </div>
    
                <div class="morecontent">
                    <div class="my-notes-container">
                        <h4>My Notes</h4>
                        <div id="notes-container"></div>
                        <div id="add-note">
                            <textarea id="note-text" placeholder="Write your notes here..." rows="5"></textarea>
                            <button id="add-btn">Add Note</button>
                        </div>
                    </div>
                </div>
                
    
            </div>
           
            <div class="bottomhold">
                <div class="straight">
                    <button class="strai" id="homebtn"><ion-icon name="home-outline"></ion-icon></button>
                    <button class="strai" id="querrybtn"><ion-icon name="pulse-outline"></ion-icon></button>
                    <button class="strai" id="historybtn"><ion-icon name="receipt-outline"></ion-icon></button>
                    <button class="strai" id="morebtn"><ion-icon name="finger-print-outline"></ion-icon></button>
                </div>
    
                <div class="userinteraction">
                    <button class="interact" ></button>
                    <button class="interact" ></button>
                    <button class="interact" ></button>
                    <button class="interact" ></button>
                </div>
                <div class="inlineinput"><div id="userinput" contenteditable="true" readonly></div><button type="button" id="userinputsubnit">send</button></div>
            </div>
           
        </div>
        <script src="../static/js/script.js" async defer></script>
    </body>
</html>